.login-wrapper {
  margin: 50px auto;
  width: 500px;
}

.login-wrapper input {
  margin-bottom: 1rem;
}
.login-wrapper button {
  float: right;
}

.login-wrapper input {
  width: 100%;
  padding: 20px;
  font-size: 1.2rem;
}